<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem vindo ao <%= title %></p>
    <p>O Chatbot da PUC-Campinas responderá questões sobre os cursos e centros presentes na universidade.</p>
    <form action="https://gateway.watsonplatform.net/assistant/api">
      <button type="submit"> Link para o Chatbot </button>
    </form>
  </body>
</html>
